$font-openSans: "Open Sans",
sans-serif;
$font-robuto: "Roboto",
sans-serif;
$blackPen: #1c1c1ddb;
$blackBackground: #161617fa;
$blue: #32a2b8;
//40b8d098

@mixin h2 {
  font-size: 2.9rem;
  font-family: $font-robuto;
  color: $blackPen;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 760px) {
  html {
    font-size: 13px;
  }
}

body {
  font-family: "Roboto", sans-serif;
}


//******************
// Navbar
//******************

.navbar {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  nav {
    font-size: 1.2rem;

    a {
      color: $blackPen !important;
    }
  }

}




//******************
// hero
//******************
.hero {
  width: 100%;
  height: 100vh;
  position: relative;

  // background-image: url("./images/alborz.jpg");
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;

  & .text {
    width: 40%;
    position: absolute;
    top: 40%;
    right: 13%;
    color: $blackPen;
    animation: fadeIn 1s linear;

    & h2 {
      font-size: 2.9rem;
    }
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 10rem;
  left: -22rem;
  height: 40rem;
  width: 40rem;
  z-index: -1;
  border-radius: 50%;
  background-color: $blue;
  animation: fadeLeft 1s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  75% {
    opacity: 1;
  }

  to {
    transform: scale(1);
  }
}

@keyframes fadeLeft {
  from {
    transform: translateX(-10rem) scale(0.6);
  }

  to {
    transform: translateX(0) scale(1);
  }
}

@media screen and (max-width: 760px) {
  .hero {
    width: 100%;
    height: 70vh;

    & .text {
      width: 80%;

      & h2 {
        font-size: 2.5rem;

        span {
          color: $blackPen !important;
        }
      }
    }
  }
}


//****************
// product
//****************

.product {
  position: relative;

  h2 {
    font-size: 2.9rem;
    color: #1c1c1ddb;
  }

  hr {
    width: 25%;
    height: 0.2rem;
    background-color: #32a2b8;
    margin: 2rem auto;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    color: #1c1c1dde;
  }

  & .box {
    // transform: scale(1);
    transition: all 0.1s linear;
  }

  & .box:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 760px) {
  .product_desc {
    width: 80%;
    margin: auto;
  }
}

// .review::before {
//   display: block;
//   content: "";
//   position: absolute;
//   top: -20rem;
//   left: -10rem;
//   width: 20rem;
//   height: 20rem;
//   border-radius: 50%;
//   z-index: -1;
//   background-color: $blue;
// }

// .services::after {
//   display: block;
//   content: "";
//   position: absolute;
//   top: 30rem;
//   right: 10rem;
//   width: 10rem;
//   height: 10rem;
//   border-radius: 50%;
//   z-index: -1;
//   background-color: $blue;
// }


//******************
// review
//******************
.review {
  position: relative;
  margin: 7rem auto;

  h2 {
    font-size: 2.9rem;
    color: #1c1c1ddb;
  }

  hr {
    width: 55%;
    height: 0.2rem;
    background-color: #32a2b8;
    margin: 2rem 0;
  }
}

//******************
//contact
//******************

.contact {
  width: 100%;
  position: relative;
  padding: 2rem;

  .contact_text {
    h2 {
      @include h2();
    }
  }

  .contact_form {
    box-shadow: 1px 1px 8px 4px rgba(109, 145, 159, 0.201);

    .MuiFormControl-root {
      width: 100%;
      margin-top: 0.5rem;
    }

    & .contact_form_info {
      overflow: hidden;

      & h2 {
        font-size: 2.3rem;
        color: white;
        margin: 2rem 0 4rem 5rem;
      }

      & p {
        font-size: 1.1rem;
      }

      & span {
        font-size: x-large;
      }
    }

    & .contact_form_info::before {
      display: block;
      content: "";
      position: absolute;
      top: -14rem;
      right: -10rem;
      width: 30rem;
      height: 30rem;
      border-radius: 50%;
      z-index: -1;
      background-color: $blue;
      // animation: fadeRightDown 1s linear;

    }
  }
}


// @keyframes fadeRightDown {
//   from {
//     transform: translateX(10rem) scale(0.6);
//   }

//   to {
//     transform: translateX(0) scale(1);
//   }
// }

@media screen and (max-width: 760px) {
  .contact {
    .contact_text {
      width: 65%;
    }
  }
}

.footer {
  background: #F8F9FA;

  li {
    list-style: none;
    color: $blackPen;
    font-size: 0.9rem;

    a {
      color: $blackPen;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}